
{% extends "base.html" %}

{% block content %}

<h1>Quiz Time!</h1>

<article class="qQuestion">
    <h3>1. The plum pudding model portrayed the atom as what?</h3>
    <ul>
        <li>a. small positive charges</li>
        <li>b. a sea of negative charge filled with floating positively-charged particles</li>
        <li>c. negatively-charged electrons orbiting a positively-charged nucleus</li>
    </ul>
</article>

<article class="qQuestion">
    <h3>2. How did the Rutherford gold foil experiment disprove this theory?</h3>
    <ul>
        <li>a. showing that small positive charges could pass through an atom without hitting anything</li>
        <li>b. suggesting that negatively-charged electrons orbited a positively-charged nucleus</li>
    </ul>
</article>

{% endblock %}